.post{
     .postHeader{
          .title{
               font-size: 36px;
          }
          .abouu{
               font-size: 15px;
               color: #8f9bad;
               font-weight: 600;
               gap: 10px;
               .authorImg{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    img{
                         width: 100%;
                         height: 100%;
                         border-radius: 50%;
                    }
               }
               .comments{
                    font-weight: 100;
                    font-size: 14px;
                    color: #8f9bad;
               }
          }
     }
}
